[submodule "deps/qtWasabi"]
	path = deps/qtWasabi
	url = https://github.com/qtWasabi/qtWasabi.git
[submodule "deps/projectm"]
	path = deps/projectm
	url = https://github.com/qtamp/projectm.git
	branch = qtamp/fbo-restore
